.qrcode img {
	width: 250px !important;
	height: 250px !important;
}

span{
  margin-bottom: 15px;
}

#slides {
    display:none;
}

#slides img {
	/*width: 480px !important;*/
	/*height: 762px !important;*/
}

.slidesjs-pagination {
	float: right;
}

.slidesjs-pagination-item {
	display: inline-block;
}

.title{
  display: inline-block;
  width: 300px;
}

.donations, .download{
  margin-right: 10px;
}



@media screen and (max-width: 732px) {
	.donations{
	  float: none;
	}
}

